.purchaseForm__button{
    background-color: #36593e;
    border-radius: 25px;
    margin:25px 15px 0 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: Noto Sans;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 6px 3px #5EAB6B;
}
.purchaseForm__button:hover{
    background-color: #2a4430;
}
.purchaseForm__button:active{
    background-color: #1e3123;
}